#about {
    text-align: left;
    font-size: 1.5em;
}

#services {
    text-align: left;
    font-size: 1.5em;
}

body{
    font-weight: inherit;
}

.contact-social-buttons {
    float: left;
    margin-top: 0;
}